.shape {
  display: inline-block;
  padding: 0 20px
}

.shape h2 {
  text-transform: capitalize;
}

path {
  animation: dash 4s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
